.ButtonUp {
    background-color: #28a745;
    opacity: 0;
    position: fixed;
    top: 70vh;
    right: 0;
    margin-right: 70px;
    color: white;
    transition: opacity 500ms ease-in;
    font-size: 2.2rem;
    padding: 4px  16px; 
    border-radius: 8px;
    cursor: pointer;
    z-index: 99;
}



.ButtonUp.is-show {
    opacity: 1;
}